.about-page {
  margin-top: 9vh;
  padding-top: 5vh;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, .9)), url("/public/ingredients.jpeg") no-repeat center center fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Inter', sans-serif;
  color: #4E4E4E;
}

.about-header {
  display: flex;
  justify-content: center;
  padding-top: 4vh;
  padding-bottom: 3vh;
  font-weight: 600;
}

.indent {
  text-indent: 20px;
}

.about-container {
  width: 65%;
  text-align: center;
}

.started-btn {
  background-color: #F29544;
  border-color: #F29544;
  border-radius: 13px;
  width: 150px;
  height: 40px;
  padding: 0px;
  padding-top: 2vh;
  padding-bottom: 2vh;

  display: flex;
  justify-content: center;
}

.about-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15vh;
}

.started-btn-form {
  display: flex;
  align-items: center;
  margin-bottom: 7vh;
  margin-top: 7vh;
}

.creator-row {
  display: flex;
  width: 90%;
  align-items: center;
  margin-bottom: 2vh;
}

.about-header-creator {
  padding-top: 8vh;
  padding-bottom: 5vh;
}